* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #001;
  color: azure;
  color-scheme: dark light;
  display: grid;
  place-items: center;
}

main {
  display: flex;
  /* flex-direction: column; */
  gap: 12rem;
  align-items: center;
  scale: 1.2;
}

section.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h1 {
    font-size: 2rem;
  }

  h2 {
    color: gainsboro;
  }

  button {
    width: max-content;
    font-size: 1.1rem;
    font-family: 'Space Grotesk', system-ui;
    padding: .75em 1.25em;
    border-radius: .5em;
    cursor: pointer;
    border: none;
    outline: none;
    border: 1.5px solid rgba(255, 255, 255, 0.33);
    background: url(crissxcross.png);
    background-color: gainsboro;
    background-size: contain;
    color: #001;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  button:hover {
    transform: translateY(-.25rem);
  }

  button:active {
    transform: translateY(.25rem);
  }
}

/* button {
  width: max-content;
  font-size: 1.1rem;
  font-family: 'Space Grotesk', system-ui;
  padding: .75em 1.25em;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1.5px solid #888;
  transition: all 0.3s ease;
}

button:hover {
  border: 1.5px solid rgba(170, 255, 0, 0.9);
  box-shadow:
    0 0 50px -5px rgba(170, 255, 0, 0.25),
    inset 0 0 50px 0 rgba(170, 255, 0, 0.25);
} */

section.profile {
  display: flex;
  align-items: center;
  gap: 2rem;

  div {
    img {
      max-width: 8rem;
      border-radius: 50%;
    }
  }
}


@media (max-width: 1024px) {
  main {
    flex-direction: column;
    gap: 6rem;
    scale: 1;
  }
}